{% extends 'mailing/base.html'%}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Сервис управления рассылками</h1>
        <p class="lead text-muted">С помощью нашего сервиса вы можете создать email-рассылку для своих клиентов.</p>
        <p>
            {% if user.is_authenticated %}
            {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-primary my-2">Вход</a>
            <a href="{% url 'users:register' %}" class="btn btn-primary my-2">Регистрация</a>
            {% endif %}


        </p>
    </div>
</section>
{% endblock %}